body {
  background-image: url("../images/palm-trees.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}

.container {
  background: transparent;
  font-family: "Montserrat", sans-serif;
  color: white;
  max-width: 570px;
  margin-top: 180px;
  box-shadow: 0 0 30px whitesmoke;
  border: 1px solid #838383;
  border-radius: 40px;
  padding: 30px;
}

.search-bar,
.search-button,
.current-button {
  display: inline-block;
  margin: 0;
}

.search-bar {
  max-width: 300px;
}

#search {
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.button,
#geo-button {
  color: white;
  font-size: 18px;
  font-weight: 500;
  background-color: #6c8fad;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  opacity: 90%;
}

.button:hover,
#geo-button:hover {
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 200ms ease;
  box-shadow: 3px 3px 5px whitesmoke;
}

.current-location,
.current-weather,
.temperature-units {
  margin-top: 30px;
}

#current-city {
  font-size: 43px;
}

#country {
  font-size: 25px;
  font-weight: bolder;
  margin-left: 15px;
}

#current-date {
  font-size: 20px;
}

ul.current-weather {
  padding: 0;
}

li#humidity,
#wind,
#temp {
  list-style: none;
  font-size: 17px;
  line-height: 1.8;
}

#icon {
  margin-top: 30px;
}

.description-temp {
  font-size: 22px;
}
#description {
  font-size: 25px;
  margin-top: 10px;
}

#description:first-letter {
  text-transform: uppercase;
}

.temp-units {
  font-size: 20px;
}

.units a {
  color: white;
  text-decoration: none;
}

.active {
  cursor: default;
}

.weather-forecast {
  text-align: center;
  font-size: 16px;
}

.weather-forecast-date {
  margin-bottom: 0;
}

.weather-forecast img {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  color: white;
}

#open-source-link {
  text-decoration: none;
  color: #064420;
}

#open-source-link:hover {
  text-decoration: underline;
  transition: all 200ms ease;
}
