body {
  background: #fde9df;
}

.container {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Oxygen", sans-serif;
  color: #838383;

  max-width: 570px;
  margin-top: 50px;
  box-shadow: 0 0 30px #838383;
  border: 1px solid #838383;
  border-radius: 40px;
  padding: 30px;
}

.search-bar,
.search-button,
.current-button {
  display: inline-block;
  margin: 0;
}

.search-bar {
  max-width: 300px;
}

#search {
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.button,
#geo-button {
  color: #838383;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-radius: 10px;

  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.button:hover,
#geo-button:hover {
  color: #838383;
  background-color: transparent;
  border: 1px solid transparent;
  transition: all 200ms ease;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.current-location,
.current-weather,
.temperature-units {
  margin-top: 30px;
}

#current-city {
  font-size: 34px;
}

#country {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 15px;
}

#current-date {
  font-size: 17px;
}

ul.current-weather {
  padding: 0;
}

li#humidity,
#wind,
#temp {
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
}

.temperature-link {
  text-decoration: none;
  color: #838383;
}

.temperature-link:hover {
  color: #838383;
  font-weight: bold;
  transition: all 200ms ease;
}

#icon {
  margin-top: 30px;
}

.description-temp {
  font-size: 22px;
}
#description {
  font-size: 25px;
}

#description:first-letter {
  text-transform: uppercase;
}

.forecast img {
  width: 50px;
}

.open-source {
  text-align: center;
  color: #686d76;
}

#open-source-link {
  text-decoration: none;
  color: #00a8cc;
}

#open-source-link:hover {
  text-decoration: underline;
  transition: all 200ms ease;
}
